<h3 style="text-align: center">Đăng ký</h3>
<form action="" method="post">
  <div class="mb-3">
    <label for="">Name</label>
    <input
      type="name"
      name="name"
      class="form-control"
      placeholder="Name...."
    />
  </div>
  <div class="mb-3">
    <label for="">Phone</label>
    <input
      type="phone"
      name="phone"
      class="form-control"
      placeholder="Phone...."
    />
  </div>
  <div class="mb-3">
    <label for="">Address</label>
    <input
      type="address"
      name="address"
      class="form-control"
      placeholder="Address...."
    />
  </div>
  <div class="mb-3">
    <label for="">Email</label>
    <input
      type="email"
      name="email"
      class="form-control"
      placeholder="Email...."
    />
  </div>
  <div class="mb-3">
    <label for="">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      placeholder="Password...."
    />
  </div>
  <div class="d-grid">
    <button type="submit" class="btn btn-success">Đăng ký</button>
  </div>
  <a href="/auth/login" class="btn btn-danger mt-4">Hủy</a>
</form>
