<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Import Excel Course</title>
  </head>
  <body>
    <h4>Import Excel Course</h4>
    <form
      action="/admin/importExcelCourse"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="excelFile" accept=".xlsx, .xls" required />
      <button type="submit">Import</button>
    </form>
  </body>
</html>
