<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Import Excel</title>
    <!-- Add your CSS styles or link external stylesheets here -->
  </head>
  <body>
    <h1>Import Excel</h1>
    <form action="/importExcel" method="post" enctype="multipart/form-data">
      <input type="file" name="excelFile" accept=".xlsx, .xls" required />
      <button type="submit">Import</button>
    </form>
    <!-- Add other HTML content as needed -->
  </body>
</html>
