<span style='color: tomato'>Reset password</span>
<%- msg.length ? `
<div class="alert alert-${msgType}">${msg}</div>
`: '';%> <%- success.length ? `
<div class="alert alert-success">${success}</div>
` : "" %>
<form action="" method="post">
    <div class="mb-3">
        <label for="">Nhập mật khẩu cũ</label>
        <input
          type="password"
          name="oldpassword"
          class="form-control"
          placeholder="Nhập Mật Khẩu Cũ...."
          required
        />
      </div>
  <div class="mb-3">
    <label for="">Mật khẩu mới</label>
    <input
      type="password"
      name="password"
      class="form-control"
      placeholder="Nhập Mật Khẩu...."
      required
    />
  </div>
  <div class="mb-3">
    <label for="">Nhập lại mật khẩu mới</label>
    <input
      type="password"
      name="resetpassword"
      class="form-control"
      placeholder="Nhập Lại Mật khẩu...."
      required
    />
  </div>
  <div class="d-grid">
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/" class='btn btn-danger'>Hủy</a>
  </div>
</form>
