<h2>Permission</h2>
<a href="/admin/users/roles" class="btn btn-warning">Quản lý Roles</a>
<form action="" method="post" class="mt-4">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="10%">Role</th>
        <th>Chọn</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="checkbox" value="" />
        </td>
        <td>Admin</td>
      </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-success">Lưu</button>
</form>
