<h2>Permission</h2>
<a href="/admin/users/roles" class="btn btn-warning">Quản lý Roles</a>
<form action="" method="post" class="mt-4">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="20%">Module</th>
        <th>Quyền</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Quản lý Users</td>
        <td>
          <div class="row">
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="users.read" />
                Xem
              </label>
            </div>
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="users.add" />
                Thêm
              </label>
            </div>
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="users.update" />
                Sửa
              </label>
            </div>
            <div class="col">
              <label for="">
                <input type="checkbox" name="permission" value="users.delete" />
                Xóa
              </label>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-success">Lưu</button>
</form>
