<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Tên học viên: <%= studentLists.name %></h3>
    <ul>
      <li>Email: <%= studentLists.email %></li>
      <li>Số điện thoại: <%= studentLists.phone %></li>
      <li>Địa chỉ: <%= studentLists.address %></li>
    </ul>
  </body>
</html>
