<% if(message?.length) { %>
<div class="alert alert-danger"><%= message %></div>
<% } %> <% if(success?.length) { %>
<div class="alert alert-success"><%= success %></div>
<% } %>
<form action="" method="post">
  <div class="mb-3">
    <label for="">Tên Module</label>
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="Tên module..."
    />
  </div>
  <div class="mb-3">
    <label for="">Link tài liệu</label>
    <input
      type="text"
      name="pathName"
      class="form-control"
      placeholder="Link tài liệu..."
    />
  </div>
  <div class="d-grid">
    <button class="btn btn-success">Thêm tài liệu</button>
    <a href="/admin/courseList" class="btn btn-danger">Huỷ</a>
  </div>
</form>
