<form action="" method="post">
  <div class="mb-3">
    <label for="">Link tài liệu</label>
    <input
      type="text"
      name="pathName"
      class="form-control"
      placeholder="Link tài liệu..."
    />
  </div>
  <div class="d-grid">
    <button class="btn btn-success">Thêm tài liệu</button>
  </div>
</form>
