<h1 style='color: tomato'>Thêm bài tập</h1>
<form action="" method="post">
    <div class="mb-3">
        <label for="">Tiêu đề</label>
        <input
          type="text"
          name="title"
          class="form-control"
          placeholder="Tiêu đề...."
          required
        />
      </div>
  <div class="mb-3">
    <label for="">Nội dung</label>
    <textarea
      type="text"
      name="content"
      class="form-control"
      placeholder="Nội dung...."
      required
    /></textarea>
  </div>
  <div class="mb-3">
    <label for="">Tài liệu</label>
    <input
      type="text"
      name="attachment"
      class="form-control"
      placeholder="Tài liệu...."
      required
    />
  </div>
  <div class="d-grid">
    <button type="submit" class="btn btn-primary">Thêm</button>
  </div>
</form>
