<style>
  h2 {
    font-size: 1.4rem;
  }
  .excersise {
    font-size: 1.5rem;
  }
  .link-excersise {
    text-decoration: underline;
  }
</style>
<% excersiseList.forEach((item) => { %>
<div>
  <h1 class="excersise">Bài tập về nhà</h1>
  <a class="link-excersise" href="/admin/class/excersiseDetail/<%= item.id %>"
    ><%= item.title %></a
  >
</div>
<hr />
<% }) %>
<a href="/admin/class/CreateExcersise/<%= id %>" class="btn btn-success"
  >Thêm bài tập về nhà</a
>
